html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    /* transform: scale(1); */
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation-name: rubberBand;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}

.deck .card.unmatch {
    animation-name: pulse;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
    cursor: default;
    background: #93AFF9;
    font-size: 33px;
}

.deck .card.disabled{
    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.counter{
    text-align: center;
    display: inline-block;
    padding-left: 3em;
}

/* keyframes */

@keyframes rubberBand{
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

/* modal */

.modal{
    position:fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: white; */
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 10px;
    /* background: #DDDDDD; */
}

.total-stars{
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.modal-footer{
    text-align: center;
}

.close {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background: #606061;
	color: #FFFFFF;
	font-weight: bold;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #47B2BB;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

button.btn-end{
    padding: 10px;
    font-size: 14px;
    background: #8893C7;
    color:#ffffff;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #8893C7;
    border-radius: 2px;
    box-shadow: 1px 2px 2px #2f4f4f;
}

button.btn-end:hover{
    background: #A782CB;
    border: 1px solid #A782CB;
    box-shadow: 1px 1px 3px #000;
}

button.btn-restart{
    padding: 10px;
    font-size: 14px;
    background: #25CABB;
    color:#ffffff;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #25CABB;
    border-radius: 2px;
    box-shadow: 1px 2px 2px #2f4f4f;
}

button.btn-restart:hover{
    background: #39BFBD;
    border: 1px solid #39BFBD;
    box-shadow: 1px 1px 3px #000;
}